/** top section **/
#careers-page #top-section {
  background-color: #001e25;
  padding-top: 140px;
}

@media screen and (max-width: 576px) {
  #careers-page #top-section {
    padding-top: 150px;
  }
}

/** join us section **/
#careers-page #join-us-section {
  padding: 110px 0px;
}

@media screen and (max-width: 768px) {
  #careers-page #join-us-section {
    padding: 30px 0px;
  }
}

/** our offices section **/
#careers-page #our-offices-section {
  padding: 80px 0px;
  padding-bottom: 0px;
  margin-top: 100px;
  height: 800px;
}

#careers-page #our-offices-section img {
  margin-top: -180px;
  margin-left: -30px;
}

#careers-page #our-offices-section img.dots-img {
  margin: 0;
  position: absolute;
  left: 0;
  margin-top: -230px;
}

@media screen and (max-width: 1400px) {
  #careers-page #our-offices-section {
    padding: 40px 0px;
    margin-top: 50px;
    height: 680px;
  }
  #careers-page #our-offices-section h1 {
    font-size: 50px;
  }
  #careers-page #our-offices-section img {
    margin-top: -130px;
    max-width: 1200px;
  }
  #careers-page #our-offices-section img.dots-img {
    margin-top: -180px;
    max-width: 180px;
  }
}

@media screen and (max-width: 1200px) {
  #careers-page #our-offices-section {
    margin-top: 30px;
    height: 570px;
  }
  #careers-page #our-offices-section h1 {
    font-size: 40px;
  }
  #careers-page #our-offices-section img {
    margin-top: -100px;
    max-width: 992px;
  }
  #our-offices-section img.dots-img {
    margin-top: -160px;
    max-width: 150px;
  }
}

@media screen and (max-width: 992px) {
  #careers-page #our-offices-section {
    margin-top: 0px;
    height: 420px;
  }
  #careers-page #our-offices-section h1 {
    font-size: 30px;
  }
  #careers-page #our-offices-section img {
    max-width: 750px;
  }
  #careers-page #our-offices-section img.dots-img {
    margin-top: -125px;
    max-width: 130px;
  }
}

@media screen and (max-width: 768px) {
  #careers-page #our-offices-section {
    margin-top: 50px;
    height: 270px;
  }
  #careers-page #our-offices-section h1 {
    font-size: 20px;
    margin-top: -20px;
  }
  #careers-page #our-offices-section img {
    max-width: 540px;
    margin-left: 0px;
  }
  #careers-page #our-offices-section img.dots-img {
    margin-top: -95px;
    max-width: 80px;
  }
}

@media screen and (max-width: 576px) {
  #careers-page #our-offices-section {
    margin-top: 30px;
    height: 190px;
    padding: 10px 0px;
  }

  #careers-page #our-offices-section h1 {
    font-size: 15.5px;
    margin-top: 0px;
  }
  #careers-page #our-offices-section img {
    max-width: 350px;
    margin-top: -30px;
  }
  #careers-page #our-offices-section img.dots-img {
    margin-top: -65px;
    max-width: 50px;
  }
}

@media screen and (max-width: 350px) {
  #careers-page #our-offices-section h1 {
    word-break: break-word;
  }
  #careers-page #our-offices-section img {
    display: none;
  }
}

/** open positions section **/
#careers-page #open-positions-section {
  padding: 80px 0px;
  margin-top: 130px;
}

#careers-page #open-positions-section .job-position {
  margin-top: 25px;
  border-radius: 15px;
  min-height: 64px;
  padding: 12px 5.6px;
}

#careers-page #open-positions-section .job-title-abbr {
  background: #101010;
  color: #fff;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  max-width: 47px;
  max-height: 47px;
  display: block;
  text-transform: uppercase;
  font-size: 16.8px;
}

#careers-page #open-positions-section .job-title {
  margin-top: 13px;
  display: block;
}

#careers-page #open-positions-section .job-title-type {
  margin-top: 20px;
  display: block;
}

#careers-page #open-positions-section .job-apply {
  background: #fff;
  border: solid 1px #fff;
  color: #000;
  text-decoration: none;
  padding: 12px 28.8px;
  border-radius: 50px;
  text-align: center;
  font-size: 14.4px;
}

#careers-page #open-positions-section .job-apply:hover {
  color: #fff;
  background: transparent;
}

#careers-page #open-positions-section a img {
  max-width: 27.2px;
}

@media screen and (min-width: 1400px) {
  /*
  #careers-page #open-positions-section .job-position {
    min-height: 80px;
    padding: 15px 7px;
  }

  #careers-page #open-positions-section .job-title-abbr {
    padding: 15px;
    max-width: 59px;
    max-height: 59px;
    font-size: 21px;
  }

  #careers-page #open-positions-section .job-apply {
    padding: 15px 36px;
    font-size: 18px;
  }
  */
}

@media screen and (max-width: 1200px) {
  #careers-page #open-positions-section .job-apply {
    padding: 12px 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  #careers-page #open-positions-section {
    padding: 50px 0px;
  }

  #careers-page #open-positions-section .job-title-type {
    margin-top: 0px;
  }

  #careers-page #open-positions-section .job-title {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  #careers-page #open-positions-section {
    margin-top: 100px;
  }

  #careers-page #open-positions-section .job-apply {
    padding: 8px 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  #careers-page #open-positions-section .job-position {
    margin: 0px;
    margin-top: 25px;
  }

  #careers-page #open-positions-section {
    margin-top: 70px;
  }

  #careers-page #open-positions-section .job-apply {
    padding: 8px 10px;
    font-size: 12px;
    margin-bottom: 5px;
  }

  #careers-page #open-positions-section .job-position .text-right {
    text-align: center;
  }
}
