/** general **/
* {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  max-width: 1800px;
}

.green-dark-bg {
  background-color: #001e25;
}

.green-bg {
  background-color: #a9cf2d;
}

.gray-bg {
  background-color: #e2e2e0;
}

.green {
  color: #a9cf2d !important;
}

.white {
  color: #fff;
}

.gray {
  color: rgba(0, 30, 37, 0.5);
}

.underline {
  text-decoration: underline !important;
}

.text-right {
  text-align: right;
}

.img-center {
  margin: auto;
  display: block;
}

.pointer {
  cursor: pointer;
}

.small,
small {
  font-size: 12px;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.light {
  font-weight: 300 !important;
}

.btn-green {
  background: #a9cf2d;
  text-align: center;
  text-decoration: none;
  color: #001e25;
  padding: 25px 0px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 300px;
  height: 70px;
  margin-top: 25px;
  box-sizing: border-box;
  border: none;
}

.btn-green img {
  margin: initial !important;
}

.btn-green-lg {
  background: #a9cf2d;
  text-align: center;
  text-decoration: none;
  color: #001e25;
  padding: 25px 0px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 350px;
  height: 70px;
  margin-top: 25px;
  box-sizing: border-box;
  border: none;
}

.white-btn-sm {
  border: solid 1px #a9cf2d;
  text-align: center;
  text-decoration: none;
  color: #001e25;
  padding: 15px 0px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 25px 0px 30px 0px;
  box-sizing: border-box;
  background: transparent;
}

.btn-black {
  background: #001e25;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 25px 0px;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  width: 300px;
  height: 70px;
  margin-top: 25px;
  box-sizing: border-box;
  border: none;
}

.btn-green:hover,
.btn-green-lg:hover {
  color: #001e25;
}

.btn-black:hover {
  color: #fff;
}

.not-nav-list {
  padding-left: 20px;
}

.not-nav-list li {
  margin-top: 25px;
}

.black-check-list {
  list-style-image: url("../images/icon-check-black.png");
  padding-left: 35px;
}

.green-check-list {
  list-style-image: url("../images/icon-check-green.png");
  padding-left: 35px;
}

.green-check-list li,
.black-check-list li {
  padding-left: 10px;
}

p.bold,
span.bold {
  font-size: 24px;
}

li.light,
p.light,
span.light,
.light .bold {
  font-size: 18px;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

form label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  margin-top: 30px;
}

.form-control,
.form-select {
  border-radius: 18px;
  border: solid 1px rgba(0, 3, 37, 0.5);
  padding: 13.5px 10px;
}

form input[type="file"] {
  opacity: 0;
  z-index: 2;
  margin-top: -53px;
  width: 100%;
  position: relative;
}

.fake-input-file {
  background-color: #fff;
  background-image: url("../images/icon-upload.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 18px;
  height: 53px;
  border: solid 1px rgba(0, 3, 37, 0.5);
}

.form-control:focus,
.form-select:focus {
  color: #212529;
  background-color: #fff;
  border: solid 1px #a9cf2d;
  outline: 0;
  box-shadow: none;
}

form {
  padding: 40px;
  border-radius: 15px;
}

.modal-content {
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 45px;
    font-weight: 400;
  }

  li.light,
  p.light,
  span.light,
  .light .bold {
    font-size: 15px;
  }
  p.bold,
  span.bold {
    font-size: 20px;
  }

  .btn-green,
  .btn-green-lg,
  .btn-black {
    font-size: 15px;
    width: 200px;
    height: 50px;
    padding: 15px 0px;
  }

  .btn-green-lg {
    width: 250px;
  }

  .btn-green img,
  .btn-green-lg img,
  .btn-black img {
    width: 17px;
  }

  .scroll-link {
    max-width: 150px;
  }
}

@media screen and (max-width: 576px) {
  h1,
  h2 {
    font-size: 30px;
    font-weight: 400;
  }

  .text-left-xs {
    text-align: left !important;
  }

  li.light,
  p.light,
  span.light,
  .light .bold {
    font-size: 13px;
  }
  p.bold,
  span.bold {
    font-size: 16px;
  }

  .btn-green,
  .btn-green-lg,
  .btn-black {
    font-size: 13px;
    width: 180px;
    height: 42px;
    padding: 12px 0px;
  }

  .btn-green-lg {
    width: 220px;
  }

  .btn-green img,
  .btn-green-lg img,
  .btn-black img {
    width: 15px;
  }
}

/** menu **/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 15px 15px rgb(0 30 37 / 50%);
  min-height: 130px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse a.active,
.navbar-collapse a:hover {
  border-bottom: solid 5px #a9cf2d;
}

.navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 25px;
  font-size: 18px;
}

@media screen and (max-width: 1360px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 15px;
    font-size: 0.81rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }
}

@media screen and (max-width: 992px) {
  .navbar-nav .nav-link {
    display: inline-block;
  }
  .navbar-toggler {
    border: solid 2px #a9cf2d;
    border-radius: 50px;
    padding: 20px;
  }
}

@media screen and (max-width: 576px) {
  .navbar {
    min-height: inherit;
  }
  .navbar-toggler {
    padding: 15px;
  }
  .navbar-brand img {
    max-width: 150px;
  }
}

/** footer **/
#footer {
  padding-top: 80px;
  padding-bottom: 20px;
  margin-top: 80px;
}

#footer h2 {
  color: #fff;
  max-width: 500px;
  margin-top: 20px;
}

#footer .footer-link-header {
  display: block;
  color: #92989f;
  font-size: 20px;
  margin-bottom: 25px;
}

#footer .footer-link {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-bottom: 25px;
  text-decoration: none;
}

#footer .small {
  color: #fff;
  text-decoration: none;
}

#footer hr {
  background-color: #fff;
  opacity: 1;
  margin-bottom: 20px;
}

@media screen and (max-width: 576px) {
  #footer {
    margin-top: 40px;
  }
}
