/** top section **/
#news-page {
  overflow-x: hidden;
}

#news-page #top-section {
  padding: 180px 0px 220px;
}

#news-page #top-section h1 {
  max-width: 920px;
  margin: auto;
}

#news-page #top-section #green-bar {
  height: 10px;
  max-width: 237px;
  background: #a9cf2d;
  margin: auto;
  margin-top: 40px;
  border-radius: 8px;
}

/** content section **/
#news-page #content-section {
  max-width: 1900px;
  margin: auto;
  margin-top: -120px;
}

.news-page1 #content-section {
  background-image: url(../images/dots-bg2.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 0px 90%;
}

.news-page2 #content-section {
  background: none !important;
}

#news-page #content-section .relative img {
  border-radius: 10px;
}

#news-page #content-section .dots-img {
  max-width: 200px;
  float: right;
  margin-right: -80px;
  margin-top: -100px;
}

#news-page #content-section .news-share {
  background: #fff;
  width: 98px;
  height: 250px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 50px;
  position: absolute;
  left: 80px;
  top: 50px;
}

#news-page #content-section .container-fluid {
  width: 100%;
  background-image: url("../images/dots-bg2.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 0px 50px;
}

#news-page #content-section .news-share a {
  display: block;
  margin-top: 40px;
  text-align: center;
}

#news-page .container-small {
  max-width: 1051px;
  margin: auto;
}

#news-page .video-container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  max-width: none;
}

#news-page .video-container video {
  width: 100%;
  max-width: none;
}

#news-page #news-img-m-left {
  margin-left: -170px;
  width: 670px;
}

#news-page #news-img-m-top {
  margin-top: -100px;
}

@media screen and (max-width: 1400px) {
  #news-page #content-section {
    background: none;
  }
  #news-page #content-section .container-fluid {
    background: none;
  }
  #news-page #news-img-m-left {
    margin-left: -70px;
    width: 570px;
  }
}

@media screen and (max-width: 1200px) {
  #news-page #content-section {
    background: none;
  }

  #news-page #news-img-m-left {
    margin-left: 0px;
    width: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {
  #news-page #content-section .dots-img {
    max-width: 180px;
    margin-right: -60px;
    margin-top: -100px;
  }

  #news-page #content-section .news-share {
    width: 47px;
    height: 150px;
    padding: 10px;
    left: 40px;
    top: 30px;
  }

  #news-page #content-section .news-share a {
    margin-top: 15px;
  }
  #news-page #news-img-m-top {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  #news-page #top-section {
    padding: 180px 0px 90px;
  }
  #news-page #content-section {
    margin-top: -50px;
  }
  #news-page #top-section #green-bar {
    height: 6px;
  }

  #news-page #content-section .relative img {
    border-radius: 15px;
  }

  #news-page #content-section .dots-img {
    max-width: 120px;
    margin-right: -20px;
    margin-top: -60px;
  }

  #news-page #content-section .news-share {
    left: 40px;
    top: 20px;
  }
}

@media screen and (max-width: 576px) {
  #news-page #content-section .news-share {
    left: 20px;
    top: 10px;
  }

  #news-page #content-section .img-sm-right {
    max-width: 80%;
    float: right;
    margin-bottom: 15px;
  }
  #news-page #content-section .img-sm-left {
    max-width: 80%;
  }
}

/** other news section **/
#other-new-section .other-news-element {
  margin: auto;
}

#other-new-section .other-news-element h2 {
  word-break: break-word;
  font-size: 34.8px;
}

#other-new-section .other-news-element .news-img {
  max-height: 428px;
}

#other-new-section .news-read-more-link,
#other-new-section .news-read-more-link:hover {
  text-decoration: none;
  color: #001e25;
}

#other-new-section .news-read-more-link img {
  max-width: 22.4px;
}

#other-new-section .jcarousel {
  position: relative;
  overflow: hidden;
  max-width: 1230px;
  margin: auto;
}

#other-new-section .jcarousel ul {
  position: relative;
  width: 10000px;
  padding: 0px;
}

#other-new-section .jcarousel li {
  float: left;
  max-width: 600px;
  overflow: hidden;
  margin-right: 20px;
}

#other-new-section .scroll-btn-left,
#other-new-section .scroll-btn-right {
  width: 150px;
  cursor: pointer;
}

#other-new-section .scroll-btn-left {
  position: absolute;
  left: 0px;
  top: 25%;
}

#other-new-section .scroll-btn-right {
  position: absolute;
  right: 0px;
  top: 25%;
  text-align: right;
}

@media screen and (max-width: 1400px) {
  #other-new-section .jcarousel {
    max-width: 1120px;
  }
  #other-new-section .jcarousel li {
    max-width: 550px;
  }
}

@media screen and (max-width: 1200px) {
  #other-new-section .jcarousel {
    max-width: 920px;
  }

  #other-new-section .jcarousel li {
    max-width: 450px;
  }

  #other-new-section .jcarousel li h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 992px) {
  #other-new-section .jcarousel {
    max-width: 690px;
  }
  #other-new-section .jcarousel li {
    max-width: 335px;
  }
}

@media screen and (max-width: 768px) {
  #other-new-section .jcarousel .scroll-btn-left img,
  #other-new-section .jcarousel .scroll-btn-right img {
    max-width: 100px;
  }

  #other-new-section .jcarousel {
    max-width: 355px;
  }
}

@media screen and (max-width: 576px) {
  #other-new-section .jcarousel {
    max-width: 310px;
  }

  #other-new-section .jcarousel li {
    max-width: 290px;
  }
}
