/** top section **/
#solutions-page #top-section {
  background-image: url("../images/solution-main-bg.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: #001e25;
  min-height: 100vh;
  padding-top: 200px;
  position: relative;
}

#solutions-page #top-section p {
  max-width: 440px;
  margin-left: 40px;
  margin-top: 20px;
}

#solutions-page #top-section a {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #solutions-page #top-section {
    padding-top: 200px;
  }
}

@media screen and (max-width: 768px) {
  #solutions-page #top-section {
    padding-top: 150px;
  }

  #solutions-page #top-section p {
    max-width: inherit;
    margin-left: 0px;
  }
}

@media screen and (max-height: 768px) {
  #solutions-page #top-section {
    min-height: 600px;
  }
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
  #solutions-page #top-section {
    min-height: 100vh;
    padding-bottom: 200px;
  }
}

/** accept payment **/
#solutions-page #accept-payment {
  background-image: url("../images/dots-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 100px 0px;
}

#solutions-page #accept-payment h2 {
  margin-top: 120px;
}

#solutions-page #accept-payment img {
  margin-left: -50px;
}

@media screen and (max-width: 992px) {
  #solutions-page #accept-payment {
    background-position: bottom left;
    background-size: 150px;
  }
  #solutions-page #accept-payment h2 {
    margin-top: 0px;
  }
  #solutions-page #accept-payment img {
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  #solutions-page #accept-payment {
    padding-bottom: 170px;
    padding-top: 50px;
  }
  #solutions-page #accept-payment h2 {
    margin-top: 20px;
  }
  #solutions-page #accept-payment img {
    margin-left: 0px;
  }
}

/** key feature **/
#solutions-page #key-features .container {
  max-width: 1150px;
}

#solutions-page #key-features .key-feature {
  background-color: #a9cf2d;
  max-width: 255px;
  margin: auto;
  margin-top: 50px;
  box-sizing: border-box;
  padding: 25px 12px;
  border-radius: 20px;
  box-shadow: 6px 0px 15px rgb(0, 30, 37, 0.3);
  min-height: 396px;
}

#solutions-page #key-features .key-feature img {
  display: block;
  margin: 15px auto 25px;
}

#solutions-page #key-features .key-feature p.bold {
  min-height: 66px;
}

@media screen and (max-width: 768px) {
  #solutions-page #key-features .key-feature {
    min-height: 295px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  #solutions-page #key-features .key-feature {
    min-height: auto;
    margin-top: 20px;
  }
}

/** payment methods **/
#solutions-page #payment-methods {
  padding: 300px 0px 50px;
  margin-top: -200px;
}

#solutions-page #payment-methods h1 {
  max-width: 700px;
  margin: auto;
}

#solutions-page #payment-methods .jcarousel {
  margin-top: 100px;
  position: relative;
}

#solutions-page #payment-methods .jcarousel div {
  overflow: hidden;
}

#solutions-page #payment-methods .jcarousel ul {
  position: relative;
  width: 9999px;
  height: 120px;
  padding: 0px;
}

#solutions-page #payment-methods .jcarousel li {
  float: left;
  height: 120px;
  overflow: hidden;
}

#solutions-page #payment-methods .scroll-btn-left,
#solutions-page #payment-methods .scroll-btn-right {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 20px;
  z-index: 2;
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  #solutions-page #payment-methods h1 img {
    max-width: 80px;
  }
}

@media screen and (max-width: 576px) {
  #solutions-page #payment-methods .jcarousel {
    margin-top: 60px;
  }

  #solutions-page #payment-methods .jcarousel img {
    max-width: 180px;
  }

  #solutions-page #payment-methods .jcarousel li,
  #solutions-page #payment-methods .jcarousel ul {
    height: 50px;
  }

  #solutions-page #payment-methods h1 img {
    max-width: 40px;
  }
}

/** our product **/
#solutions-page #our-product {
  background-image: url("../images/solution-img2.png"),
    url("../images/dots-bg.png");
  background-repeat: no-repeat;
  background-size: contain, 180px;
  background-position: right top, left bottom;
  min-height: 800px;
  overflow-x: hidden;
}

#solutions-page #our-product h1 {
  margin-top: 200px;
}

@media screen and (max-width: 1200px) {
  #solutions-page #our-product {
    background-position: 150% 0%, left bottom;
  }
}

@media screen and (max-width: 992px) {
  #solutions-page #our-product {
    background-image: url("../images/dots-bg.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right bottom;
    min-height: auto;
    padding-bottom: 100px;
  }

  #solutions-page #our-product h1 {
    margin-top: 0px;
  }

  #solutions-page #our-product .d-lg-none img {
    margin-left: 10%;
  }
}

/** we are hiring **/
#solutions-page #we-are-hiring {
  margin-top: 80px;
  padding: 80px 0px;
  background-color: #a9cf2d;
  background-image: url("../images/solution-we-are-hiring-bg.png");
}

@media screen and (max-width: 992px) {
  #solutions-page #we-are-hiring {
    padding: 60px 0px;
    margin-top: -50px;
  }
}

/** latest news **/
#solutions-page #latest-news {
  padding: 120px 0px 80px;
}

#solutions-page #latest-news .container {
  background-image: url("../images/dots-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 70px;
  max-width: 1200px;
}

#solutions-page #latest-news .latest-news-item {
  border-radius: 15px;
  margin-top: 30px;
  max-width: 349px;
  box-shadow: 6px 0px 15px rgba(0, 30, 37, 0.3);
}

#solutions-page #latest-news .latest-news-item .white img {
  max-width: 22.4px;
}

#solutions-page #latest-news .latest-news-item .text-right img {
  max-width: 27.2px;
}

#solutions-page #latest-news .jcarousel-latest-news {
  position: relative;
  overflow: hidden;
  max-width: 1100px;
  margin: auto;
}

#solutions-page #latest-news .jcarousel-latest-news ul {
  position: relative;
  width: 10000px;
  padding: 0px;
}

#solutions-page #latest-news .jcarousel-latest-news li {
  float: left;
  max-width: 600px;
  overflow: hidden;
  margin-right: 20px;
}

#solutions-page #latest-news .scroll-btn-left-latest-news,
#solutions-page #latest-news .scroll-btn-right-latest-news {
  width: 150px;
  cursor: pointer;
}

#solutions-page #latest-news .scroll-btn-left-latest-news {
  position: absolute;
  left: 0px;
  top: 35%;
}

#solutions-page #latest-news .scroll-btn-right-latest-news {
  position: absolute;
  right: 0px;
  top: 35%;
}

#solutions-page #latest-news .latest-news-item .latest-news-text-container {
  padding: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#solutions-page #latest-news .latest-news-item .latest-news-text-container p {
  min-height: 110px;
}

#solutions-page #latest-news .latest-news-item a {
  text-decoration: none;
}

@media screen and (min-width: 1400px) {
  #solutions-page #latest-news .latest-news-item .white img,
  #solutions-page #latest-news .latest-news-item .text-right img {
    max-width: inherit;
  }
}

@media screen and (max-width: 992px) {
  #solutions-page #latest-news {
    padding: 80px 0px;
  }
  #solutions-page #latest-news .container {
    background: none;
  }
  #solutions-page #latest-news .latest-news-item .latest-news-text-container p {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  #solutions-page #latest-news {
    padding: 60px 0px 20px;
  }
  #solutions-page #latest-news .container {
    background: none;
  }
  #solutions-page #latest-news .latest-news-item .latest-news-text-container p {
    min-height: auto;
  }
}

/** emerging markets  */
#solutions-page #emerging-markets {
  background-color: #001e25;
  background-image: url("../images/solution-map-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 100px 0px 120px;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}

#solutions-page #emerging-markets p {
  position: absolute;
  bottom: 150px;
  width: 100%;
}

@media screen and (max-width: 992px) {
  #solutions-page #emerging-markets {
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  #solutions-page #emerging-markets {
    padding: 30px 0px;
    height: 400px;
    background-size: contain;
  }
  #solutions-page #emerging-markets p {
    bottom: 20px;
  }
}

/** integrate with directa24  */
#integrate-with-directa24 {
  padding-top: 100px;
}

#integrate-with-directa24 p {
  margin-top: 20px;
  max-width: 600px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  #integrate-with-directa24 {
    padding-top: 50px;
  }
}
